.navbar-expand-lg.bg-body-tertiary {
    height: 150px; 
}


.row {
    display: flex;
    padding: 40px; 
    align-items: flex-start;
    gap: var(--24, 24px);
    
}


.logo-container {
    display: flex;
    align-items: flex-end;
    position: relative;
}

#pt-logo {
    width: 56.644px;
    height: 58.395px;
    flex-shrink: 0;
}

.user-name {
    top: 80px;
}




.card-img {
    object-fit: contain;
}

#fio {
    display: -webkit-box;
    min-height: 84px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    flex: 1 0 0;
    overflow: hidden;
    color: var(--Typography-Primary, #1B1B1B);
    text-overflow: ellipsis;
    /* P Accent */
    font-family: "TT Positive";
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 44.8px */
}

.navbar {
    background-color: #FFF;
}

.logout-button {
    display: flex;
    width: 262px;
    height: 90px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 12px;
    border: 2px solid var(--border-general-2-x, rgba(0, 0, 0, 0.20));
    background: #FFF;
    color: var(--Typography-Primary, #1B1B1B);
    font-family: "TT Positive";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: uppercase;
    overflow: visible;
}


.x-logo {
    display: flex;
width: 40.625px;
height: 40.625px;
justify-content: center;
align-items: center;
flex-shrink: 0;
}

.close-icon {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
    color: red; 
}
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998; 
}

#popup1 {
        border-radius: 10px; 
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    height: 1030px;
    background-color: white;
    z-index: 9999;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#popup1 button {
    color: var(--white, #FFF);
    width: 296px;
    height: 82.2;
    font-family: "TT Positive";
    font-size: 21.781px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 160%; 
    text-transform: uppercase;
    position: absolute;
    display: inline-flex;
    padding: var(--16, 16px) var(--20, 20px);
    border: 2px solid var(--border-general-2-x, rgba(0, 0, 0, 0.20));
    align-items: center;
    gap: var(--16, 16px);
    bottom: 30px;
    left: 25%;
    transform: translateX(-50%);
    font-size: 16px;
    cursor: pointer;
}


.btn-dark {
    background-color: #333; /* Example color */
    color: white; /* Example color */
    border: none;
    padding: 16px 20px; /* Changed padding to fit the button */
    border-radius: 5px; /* Example border-radius */
}

#popup1 button:nth-child(2) {
    color: var(--white, #FFF);
    font-family: "TT Positive";
    font-size: 21.781px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
    text-transform: uppercase;
    position: absolute;
    bottom: 30px;
    left: 80%; 
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    padding: 16px 20px;
    align-items: center;
    gap: 16px;
    border-radius: 6px;
    background: #282828;
    color: #fff;
    font-size: 14px;
    border: none;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
}



.column {
    flex: 0 0 calc(50% - 20px);
    box-sizing: border-box;
    cursor: pointer;
}

.card {
    width: 100%;
    background: #F6F6F6;
}




#popup1 #question {
    position: absolute;
    top: 0;
    left: 45px;
    margin-top: 20px;
    margin-right: 20px;
}

#popup1 #popupMessage {
    position: absolute;
    top: 50px;
    left: 45px;
    margin-top: 20px;
    margin-right: 20px; 
}


.icon-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}


  
.card-text {
    font-family: 'Biform', Arial, sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 140%;
overflow: hidden;
color: #000;
text-overflow: ellipsis;
white-space: nowrap;

}