
.navbar {
    height: 100px; /* Adjust this value based on your design */
}

#pt-logo {
    position: absolute;
    top: 235px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; 
    height: auto;
}

.icon-logout {
    display: inline-flex;
    height: 32px;
    padding: 0;
    align-items: center;
    flex-shrink: 0;
}

.takeout-logo {
    width: 106px;
    height: 106px;
    align-self: center; /* Add this line for vertical centering */
    top: 235px; /* You can adjust this value based on your design */
}

.success-text {
    position: absolute;
    top: 371px;
    color: black;
    font-size: 72px;
    font-family: Biform;
    font-weight: 400;
    line-height: 100.80px;
    word-wrap: break-word;
    text-align: center;
}


.logout-button {
    display: inline-flex;
    height: 52px;
    padding: var(--16, 16px) var(--20, 20px);
    align-items: center;
    gap: var(--16, 16px);
    flex-shrink: 0;
    border-radius: var(--6, 6px);
    border: 1px solid var(--border-general-2-x, rgba(0, 0, 0, 0.20));
    background: var(--Background-background, #FFF);
    color: var(--Foreground-text, #19252F);
    font-family: "TT Positive";
    font-size: 21.781px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    text-transform: uppercase;
}

.cover-container {
    /* display: flex; */
    top: 80px;
    width: 713px;
    height: 1197px;
    padding: var(--16, 16px) var(--16, 16px) var(--16, 16px) var(--20, 20px);
    align-items: center;
    justify-content: center; /* Add this line for horizontal centering */
    gap: var(--20, 20px);
    position: absolute;
    right: 43px;
    border-radius: var(--16, 16px);
    background: #F6F6F6;
}


.custom-button {
    position: absolute;
    top: 849.46px; /* Adjust this value based on your design */
    left: 197px;
    right: 178.54px;
    display: flex;
    padding: var(--16, 16px) var(--20, 20px);
    align-items: center;
    gap: var(--16, 16px);
    height: 78.56px;
    width: 337.45px;
    color: var(--white, #FFF);
    font-family: "TT Positive";
    font-size: 21.781px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 34.849px */
    text-transform: uppercase;
}