<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

    <style>
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <img id="pt-logo" src="{{ url_for('static', filename='images/pt_logo.svg') }}" alt="pt-logo">
            <div class="btn-container">
                <button type="button" class="btn btn-outline-secondary logout-button">Выйти
                    <img src="{{ url_for('static', filename='images/close.svg') }}" alt="SVG Icon" class="icon-logout" onclick="cancelButtonClick()">

                </button>
                <div class="x-logo"></div> 
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            {% for product in data.master_system %}
                <div class="column"
                >
                    <div class="card" data-snipe_id="{{ product.snipe_id }}" onclick="checkAndPopUpShow(this)">
                        <div class="card-body">
                            <p class="card-text">{{ product.goods }}</p>
                        </div>
                        {% if product.goods_image %}
                        
                            <img src="{{ product.goods_image }}" class="card-img" alt="...">
                        {% else %}
                            <img src="https://karanzi.websites.co.in/obaju-turquoise/img/product-placeholder.png" class="card-img" alt="...">
                        {% endif %}
                        
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
 <div id="overlay"></div>
    <div id="popup1">
        <img src="{{ url_for('static', filename='images/close.svg') }}" alt="SVG Icon" class="icon-close" onclick="cancelButtonClick()">
        <button class="btn btn-dark custom-button" onclick="cancelButtonClick()">СДЕЛАТЬ ДРУГОЙ ВЫБОР
            <img src="{{ url_for('static', filename='images/Group 625551.svg') }}" alt="SVG Icon" class="icon">
    
        </button>
    <button class="btn btn-dark" onclick="finishButtonClick()">ДА</button>
    
    <h1 id="question">Вы уверены в своем выборе?</h1>
        <strong id="popupMessage"></strong>
</div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>

    $(document).ready(function () {
        PopUpHide();
    });

    function finishButtonClick() {
        var user_id = {{ user_id|tojson|safe }};
        var snipe_id = $("#popup1").data("snipe_id");  
        console.log(user_id);
        console.log(snipe_id);

        $.ajax({
    type: "POST",
    url: "{{ url_for('takeout_goods') }}",
    data: {
        snipe_id: snipe_id,
        user_id: user_id
    },
    success: function (response) {
        console.log(response);

        // Check if the processing was successful
        if ('message' in response && response.message === 'Successfully processed the takeout request') {
            // Redirect to done.html if successful
            window.location.href = "/takeout_processing";
        } else {
            // Redirect to error.html if not successful
            window.location.href = "/error";
        }
    },
    error: function (jqXHR, textStatus, errorThrown) {
        console.error("Error:", errorThrown);

        // Redirect to error.html in case of an AJAX error
        window.location.href = "/error";
    }
});

        PopUpHide(); 
    }

    function cancelButtonClick() {
        console.log("Cancel button clicked");
        PopUpHide(); 
    }

    function PopUpShow(snipe_id, message) {
        $("#popupMessage").text(message);
        $("#popup1").data("snipe_id", snipe_id); 
        $("#popup1, #overlay").show();
    }

    function PopUpHide() {
        $("#popup1, #overlay").hide();
    }

    function checkAndPopUpShow(cell) {
        var cellText = $(cell).find("td").text().trim();
        var snipe_id = $(cell).data("snipe_id");  
        console.log(snipe_id);
        var title = $(cell).find(".card-text").text().trim();

        if (cellText == "Cell is Empty" || cellText == "Goods is None") {
            PopUpShow(null, "This cell is empty.");
        } else {
            PopUpShow(snipe_id, title);
        }
    }

</script>
</div>
</body>
</html>