<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/timeoutPopup.css') }}">


    <style>
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <p id="fio">{{fio[0]}}</p>
            <div class="btn-container">
                <button type="button" class="btn btn-outline-secondary logout-button">
                    <p id="close-text">Выйти</p>
                    <img src="{{ url_for('static', filename='images/close.svg') }}" alt="SVG Icon" class="icon-logout" onclick="cancelButtonClick()">

                </button>
                <div class="x-logo"></div>
            </div>
        </div>
    </nav>


    <div class="container justify-content-center">
        <div class="row">
            {% for product in data.master_system %}
    <div class="column">
        <div class="card {% if product.quantity < 1 %}disabled{% endif %}" data-snipe_id="{{ product.snipe_id }}" onclick="checkAndPopUpShow(this)">
            <div class="card-body">
                <p id="good-title">{{ product.goods }}</p>
                <p class="take-out-count">20 шт / 365 дней</p>
                <p class="good-type">
                    {% if product.quantity < 1 %}
                        Нет в наличии
                    {% else %}
                        {{ product.description }}
                    {% endif %}
                </p>
            </div>
            <input type="hidden" name="cell_number" class="cell_number" value="{{ product.cell_number }}">
            {% if product.goods_image %}
                <!-- Display Base64-encoded image -->
                <img src="data:image/jpeg;base64,{{ product.image_data }}" class="card-img" alt="...">
            {% else %}
                <img src="https://karanzi.websites.co.in/obaju-turquoise/img/product-placeholder.png" class="card-img" alt="...">
            {% endif %}
            {% if product.quantity < 1 %}
                <div class="overlay"></div>
            {% endif %}
        </div>
    </div>
{% endfor %}


       
        </div>
    </div>
    <div id="overlay"></div>
    <div id="popup1">
        <div class="popup-container">
            <img src="" class="popup-image" alt="Selected Image">
        </div>
        <h1 id="question">
            Выдать это устройство?
        </h1>
        <p id="device-title"></p>
        <form id="takeoutForm" action="{{ url_for('proccessing') }}" method="post">
            <input type="hidden" name="snipe_id" id="snipe_id_input">
            <input type="hidden" name="user_id" value="{{ user_id }}">
            <input type="hidden" name="cell_number" id="cell_number">
            <input type="hidden" name="image" id="image_input">
            <input type="hidden" name="fio" value="{{ fio[0] }}">
            <input type="hidden" name="goods" id="goods_input">
            <button type="submit" class="btn btn-dark finish-button" onclick="submitTakeoutForm()">
                <p id="finish-text">ДА</p>
            </button>
        </form>
        <button class="cancel-button" onclick="closePopupButtonClick()">
        <p id="cancel-text">НЕТ</p>
        </button>
      
    </div>
    <div id="timeout-popup">
        <div class="timeout-container">
            <img src="{{ url_for('static', filename='images/warning.svg') }}" class="timeout-warning" alt="Selected Image">
        </div>
        <h1 id="time-out-alert">
            Ты еще здесь?
        </h1>
        <p id="time-out-title"></p>
        <p id="device-title">{{ data.product_name }}</p>
        <p id="timer-text">Начальный экран откроется через:</p>
        <p id="timer">00:10</p>
            <button type="submit" class="btn btn-dark finish-button" onclick="closePopup()">
                <p id="accept-text">я тут</p>
            </button>
        <button class="cancel-button" onclick="deniedButtonClick()">
        <p id="reject-text">выйти</p>
        </button>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    <script src="{{ url_for('static', filename='js/close.js') }}"></script>

    <script>
    var sessionExpired = false;

function checkSessionExpiration() {
    if (!sessionExpired) {
        $.ajax({
            type: "GET",
            url: "{{ url_for('check_session_status') }}",
            success: function (response) {
                console.log(response.status);
                if (response.status === 'expired') {
                    window.location.href = "{{ url_for('home') }}";
                    sessionExpired = true; // Set the flag to true when displaying the popup

                } else if (response.status === 'half_expired') {
                    displayTimeoutPopup();
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.error("Error checking session status:", errorThrown);
            }
        });
    }
}

function displayTimeoutPopup() {
    document.getElementById("overlay").style.display = "block";
    document.getElementById("timeout-popup").style.display = "block";
    loadTimerScript();
}

function loadTimerScript() {
    var script = document.createElement('script');
    script.src = "{{ url_for('static', filename='js/timer.js') }}";
    document.body.appendChild(script);
}

function closePopup() {
    document.getElementById("overlay").style.display = "none";
    document.getElementById("timeout-popup").style.display = "none";
    sessionExpired = false; // Reset the flag when closing the popup
    $.ajax({
        type: "GET",
        url: "{{ url_for('reset_session_timeout') }}",
        success: function (response) {
            console.log("Session timeout reset successfully.");
        },
        error: function (jqXHR, textStatus, errorThrown) {
            console.error("Error resetting session timeout:", errorThrown);
        }
    });
}

function deniedButtonClick() {
    cancelButtonClick();
}

function closePopupButtonClick() {
    PopUpHide();
}

setInterval(checkSessionExpiration, 5000);

function submitTakeoutForm() {
    var snipe_id = $("#popup1").data("snipe_id");
    var imgSrc = $('#popup1').find(".popup-image").attr("src");
    var goods = $('#popup1').find("#device-title").text().trim();
    var cellNumber = $('#popup1').find("#cell_number").val();
    console.log(cellNumber);
    $('#snipe_id_input').val(snipe_id);
    $('#cell_number').val(cellNumber);

    $('#image_input').val(imgSrc);
    $('#goods_input').val(goods);
    $('#takeoutForm').submit();
    PopUpHide();
}

    </script>
</body>
</html>
